<h1>DATA BINDING</h1>

<div id=div1>
    <h3> Two-way-data-binding</h3>
    <input type="text" [(ngModel)]="name">
    <h4>Hello {{ name }}</h4>
</div>


<div id=div2>
    <h3> Hide and Show Element ( Toggle )</h3>
    <button (click)="doToggle()">Click me toToggle</button>
    <h3 *ngIf="showMe">Toggle Element</h3>
</div>



<div id=div3>
    <h3>Click button to change text</h3>
    <textarea rows="5" cols="30" [value]="newPost">
    </textarea>
    <br>

    <button (click)="onAddPost()">Click on Button to ChangeText...
    </button>

    <br>
    <p>{{ newPost }}</p>
</div>